.main-sidebar {
  width: 300px;
  min-width: 300px;
  margin-left: 15px;
  border-radius: 10px;
  background: #EFF5FE;
  padding: 23px 20px 40px 20px;

  @media (max-width: 1280px) {
    min-width: auto;
  }


  @media (max-width: 768px) {
    margin-bottom: 20px;
    margin-left: 0;
    order: -1;
    width: 100%;
  }


  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

  }

  li {

    @media (max-width: 768px) {
      margin-right: 10px;
    }

    a {
      font-size: 14px;
      line-height: 17px;
      color: $main-blue;
    }

    &._active {
      a {
        font-weight: 500;
        color: #151616;
      }
    }


    &:not(:last-child) {
      margin-bottom: 15px;
    }

  }

  .main-sidebar__submenu {
    padding: 5px 0 0 20px;

    li:not(:last-child) {
      margin-bottom: 5px;
    }

    li:not(._active) {
      padding-left: 0;
    }

    li {
      a {
        @include montserrat-regular;
        font-size: 14px;
        line-height: 24px;

        color: $main-blue;
        position: relative;
      }
    }

    li._active {
      a {
        color: #151616;;

        &::after {
          content: '';
          position: absolute;
          right: -10px;
          top: 7px;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          background: #151616;;
        }
      }
    }

    ._submenu1,
    ._submenu2,
    ._submenu3 {
      li:not(._active) a {
        color: $main-blue;

        &::after {
          display: none;
        }
      }
    }

  }


}
