.home-page {
  .container {
    position: relative;

    .word {
      position: absolute;

      &._g {
        left: -190px;
        bottom: 220px;
      }

      &._i {
        right: -170px;
        bottom: -90px;
      }

      &._e {
        left: -115px;
        bottom: 40px;
      }

      &._f {
        right: -150px;
        bottom: 60px;
      }

      &._p {
        left: -200px;
        bottom: 80px;
      }

      &._t {
        right: -140px;
        bottom: 390px;
      }
    }
  }

  .btn {
    background: #FFFFFF;
    border-radius: 100px;
    font-weight: 600;
    font-size: 21.5169px;
    line-height: 26px;
    color: #AFCDFB;
    text-align: center;
    transition: all .3s;
    padding: 20px 99px;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__subtitle-wrapper {
    margin-bottom: 24px;
    display: flex;
    align-items: flex-end;
  }

  &__subtitle {
    padding-bottom: 2px;
    @include montserrat-semibold;
    font-size: 39px;
    line-height: 30px;
    color: #151616;
    margin-right: 45px;
    border-bottom: 5px solid #AFCDFB;
  }

  &__subtitle-link {
    display: flex;
    align-items: center;
    @include montserrat-semibold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #0348B0;
    padding-right: 20px;

    &:hover {
      svg {
        path {
          &:first-child {
            fill: #0348B0;
            transition: all .3s;
          }
        }
      }
    }

    svg {
      margin-left: 5px;
    }
  }

  .swiper {
    margin: 0 -23px;
    padding: 0 23px;

    img {
      display: block;
      margin: auto;
    }

    &__controls {
      width: 100%;
      position: absolute;
      left: 50%;
      z-index: 50;
      transform: translate(-50%, -50%);
    }
  }

  .swiper-btn {
    z-index: 20;
    position: absolute;

    &._prev {
      left: 0;
    }

    &._next {
      right: 0;
    }

    &:hover {
      svg {
        path {
          &:first-child {
            fill: #0348B0;
            transition: all .3s;
          }
        }
      }
    }
  }


  .media-center {
    .container {
      padding-top: 15px;
      padding-bottom: 30px;
      display: flex;
      justify-content: space-between;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 1066px;
      margin-right: 10px;
      padding: 96px 58px 48px 40px;
      background-image: url("../img/media-center_bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 10px;
      overflow: hidden;
    }

    &__link {
      display: block;
      max-width: 397px;
      margin-bottom: 30px;
      margin-left: 20px;
      font-weight: 600;
      font-size: 55px;
      line-height: 67px;
      color: #1D1814;
    }

    &__photos {
      display: flex;
    }

    &__photo {

      &:not(:last-child) {
        margin-right: 25px;
      }
    }

    &__content {
      max-width: 340px;
      margin-right: 14px;
      padding: 46px 28px 70px;
      border: 3px solid #AFCDFB;
      border-radius: 10px;
      box-shadow: 14px 14px 0 #AFCDFB;

      h4 {
        margin-bottom: 28px;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        color: #1D1814;
      }

      p {
        margin-bottom: 65px;
        font-size: 16px;
        line-height: 22px;
        color: #000000;

      }
    }

    &__image {
      max-width: 280px;
      margin: 0 auto;

    }
  }


  .news {
    .container {
      padding-top: 30px;
      padding-bottom: 35px;
    }

    .news-swiper {
      &__controls {
        top: calc(50% - 110px);
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__title {
        min-height: 60px;
        margin-bottom: 10px;
        @include montserrat-regular;
        font-size: 20px;
        line-height: 30px;
        color: #151616;
        transition: all .3s;

        &:hover {
          color: #0348B0;
        }
      }

      &__date {
        @include montserrat-regular;
        font-size: 18px;
        line-height: 22px;
        color: #7B7B7D;
      }

      &__description {
        margin-bottom: 17px;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
      }

      &__img {
        position: relative;
        padding-top: 62%;
        cursor: pointer;
        margin-bottom: 24px;

        img {
          position: absolute;
          border-radius: 12px;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
    }
  }

  .faculty {
    .container {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .faculty-swiper {
      &__controls {
        top: calc(50% - 17px);
      }

      .swiper-slide {
        border-radius: 12px;
        transition: all .2s;

        &.bg-color-1 {
          background: #596772 radial-gradient(50% 50% at 49.99% 50%, rgba(#ffffff, 0.3) 0%, rgba(255, 255, 255, 0) 100%) 0 -140px no-repeat;

          &:hover {
            background: #596772 radial-gradient(50% 50% at 49.99% 50%, rgba(#ffffff, 0.3) 0%, rgba(255, 255, 255, 0) 100%) 0 120px no-repeat;
          }
        }

        &.bg-color-2 {
          background: #A58563 radial-gradient(50% 50% at 49.99% 50%, rgba(#ffffff, 0.3) 0%, rgba(255, 255, 255, 0) 100%) 0 -140px no-repeat;

          &:hover {
            background: #A58563 radial-gradient(50% 50% at 49.99% 50%, rgba(#ffffff, 0.3) 0%, rgba(255, 255, 255, 0) 100%) 0 120px no-repeat;
          }
        }

        &.bg-color-3 {
          background: #7FA5BF radial-gradient(50% 50% at 49.99% 50%, rgba(#ffffff, 0.3) 0%, rgba(255, 255, 255, 0) 100%) 0 -140px no-repeat;

          &:hover {
            background: #7FA5BF radial-gradient(50% 50% at 49.99% 50%, rgba(#ffffff, 0.3) 0%, rgba(255, 255, 255, 0) 100%) 0 120px no-repeat;
          }
        }

        &.bg-color-4 {
          background: #468426 radial-gradient(50% 50% at 49.99% 50%, rgba(#ffffff, 0.3) 0%, rgba(255, 255, 255, 0) 100%) 0 -140px no-repeat;

          &:hover {
            background: #468426 radial-gradient(50% 50% at 49.99% 50%, rgba(#ffffff, 0.3) 0%, rgba(255, 255, 255, 0) 100%) 0 120px no-repeat;
          }
        }
      }

      &__wrapper {
        padding: 36px 19px 30px 18px;
        display: flex;
        height: 250px;
        flex-direction: column;
        justify-content: space-between;
      }

      &__title {
        @include montserrat-semibold;
        font-size: 26px;
        line-height: 32px;
        color: #FFFFFF;
      }

      &__info {
        p {
          @include montserrat-regular;
          font-size: 16px;
          line-height: 22px;
          color: #FFFFFF;
        }

        span {
          font-weight: 700;
        }
      }
    }
  }

  .ads {
    .container {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 30px;
    }

    &__categories {
      margin-right: 26px;
      flex-grow: 1;
    }

    &__categories-list {
      display: flex;
      justify-content: space-between;

      li {
        width: 32%;

        &:not(:last-child) {
          margin-right: 29px;

        }
      }

      p {
        @include montserrat-medium;
        font-size: 20px;
        line-height: 24px;
        color: #0D4CD3;
      }

      &:first-child {
        margin-bottom: 96px;
      }
    }

    &__categories-img {
      position: relative;
      padding-top: 62%;
      width: 100%;
      margin-bottom: 18px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }
    }


    &__aside {
      width: 340px;
      height: 100%;
      margin-right: 14px;
      padding: 27px 25px 50px;
      border-radius: 12px;
      border: 3px solid #AFCDFB;
      box-shadow: 14px 14px 0 #AFCDFB;
      background-color: #FFFFFF;
      position: relative;
      z-index: 5;
    }

    &__aside-title {
      @include montserrat-semibold;
      font-size: 26px;
      line-height: 32px;
      color: #1D1814;
      margin-bottom: 30px;

    }

    &__aside-list {
      margin-bottom: 35px;

      li {
        margin-bottom: 25px;
      }

      h4 {
        @include montserrat-regular;
        font-size: 14px;
        line-height: 17px;
        color: #7B7B7D;
        margin-bottom: 4px;
      }

      a {
        @include montserrat-regular;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        cursor: pointer;
        transition: all .3s;

        &:hover {
          color: #0D4CD3;
          text-decoration: underline;
        }
      }

    }

    &__aside-link {
      @include montserrat-semibold;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #0D4CD3;
      display: flex;
      align-items: center;

      &:hover {
        svg {
          path {
            &:first-child {
              transition: all .3s;
              fill: #0348B0;
            }

          }
        }
      }

      svg {
        margin-left: 5px;
      }
    }

  }

  .sponsors-slider {
    .container {
      padding-top: 45px;
      padding-bottom: 45px;
    }

    &__title {
      width: max-content;
      margin-bottom: 20px;
      padding-bottom: 2px;
      @include montserrat-semibold;
      font-size: 26px;
      line-height: 32px;
      color: #151616;
      border-bottom: 5px solid #AFCDFB;
    }

    .sponsors-swiper {

      &__controls {
        top: calc(50% - 23px);
      }

    }
  }

  .feedback {
    margin-bottom: 35px;

    &__inner {
      border-radius: 15px;
      padding: 55px 138px 80px 96px;
      background-image: url("../img/feedback_bg.png");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
    }

    &__title {
      margin-bottom: 40px;
      font-weight: 600;
      font-size: 55px;
      line-height: 67px;
      color: #151616;
    }

    &__field-wrapper {
      width: 100%;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 17px;
      }
    }

    &__field-label {
      @include montserrat-regular;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #151616;
      position: absolute;
      pointer-events: none;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s ease all;
    }


    &__field {
      width: 100%;
      padding: 20px 18px 16px;
      @include montserrat-regular;
      font-size: 18px;
      line-height: 22px;
      background: none;
      border: 1px solid #FFFFFF;
      border-radius: 10px;
      outline: none;

      &:focus {
        background-color: #FFFFFF;
      }

      &::placeholder {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #151616;
      }

      &_active {
        background-color: #fff;
      }

      &_active ~ .feedback__field-label {
        top: 13px;
        font-size: 14px;
        line-height: 17px;
      }

    }

    &__form-fields {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &__form-left {
      width: 32%;
      margin-right: 10px;
    }

    &__form-right {
      width: 66%;

      textarea {
        resize: none;
        height: 100%;
      }
    }

    &__form-agreement {
      display: flex;
      justify-content: space-between;
    }

    &__checkbox-wrapper {
      display: flex;
      align-items: flex-start;
      margin-right: 50px;
      margin-bottom: 15px;
    }


    &__checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;

      & + label {
        max-width: 840px;
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #151616;


      }

      & + label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        background-color: #fff;
        margin-right: 15px;
        margin-bottom: 40px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px 15px;
      }

      &:checked + label::before {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.9 1.70001L13.3 0L5.10001 7.5L1.7 3.90002L0 5.5L5 10.9L14.9 1.70001Z' fill='%23151616'/%3e%3c/svg%3e ");
      }
    }

    &__error-message_agreement {
      margin-bottom: 18px;
    }

    &__agreement-img {
      transform: translate(40px, -15px);
    }


  }

}



