@media (min-width: 1920px) {
  .header__slider-bg {
    width: 1920px;
  }
}

@media (max-width: 1500px) {
  .header__menu-item {
    max-width: 188px;
  }

  .header__menu-list {
    justify-content: center;
  }

  .header .header__dropdown-menu_lg {
    top: 60px;
  }
  .header__menu-item {
    margin-bottom: 20px;
  }

}

@media (max-width: 1200px) {
  .header__title {
    font-size: 30px;
    max-width: 90%;

  }
  .header__slider-caption .caption-swiper__description {
    font-size: 24px;
  }
  .header__logo {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 1024px) {

  .header__title {
    font-size: 24px;
    line-height: 38px;
  }
  .header__control {
    flex-direction: column;
  }
  .header__control-personal {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .header .visually-btn {
    margin-right: 0;
    border-radius: 5px 5px 0 0;
  }

  .header__search {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .header__dropdown-menu a {
    font-size: 18px;
    line-height: 22px;
  }


  .header__dropdown-menu {
    border-radius: 10px;
    padding: 26px 26px 28px 26px;
    position: absolute;
    top: 35px;
    left: 0;
    width: 320px;
    height: auto;
  }

  .header__dropdown-menu li:not(:last-child) {
    margin-bottom: 18px;
  }
  .header__slider-caption .caption-swiper__description {
    font-size: 20px;
  }
}

@media (max-width: 950px) {

  .header__menu-item:nth-child(5),
  .header__menu-item:nth-child(6) {
    .header__dropdown-menu {
      right: initial;
      left: -200px;
    }
  }
}

@media (max-width: 850px) {

  .header__menu-item:nth-child(4) {
    .header__dropdown-menu {
      right: initial;
      left: 0;
    }
  }
  .header__menu-item:nth-child(3) {
    .header__dropdown-menu {
      right: 0;
      left: initial;
    }
  }
  .header__menu-item:nth-child(2) {
    .header__dropdown-menu {
      left: -70px;

    }
  }
}

@media (max-width: 768px) {
  .header {
    z-index: 25;
    display: flex;
    flex-direction: column;
  }

  .header__slider-caption .caption-swiper__description {
    width: 100%;
  }

  .header__info-wrapper {
    align-items: center;
  }

  .header__info {
    z-index: 30;
    padding: 20px 0;
    transition: all .5s;
    order: 1;
  }
  .header__info .container {
    justify-content: space-between;
  }
  .header__info .container._active {
    height: 60px;
  }
  .header__slider-bg._active {
    position: static;
    transform: translateX(0);
    order: 3;
  }

  .header__slider-bg .bg-swiper {
    height: 215px;
  }

  .header__slider-caption._active {
    order: 4;
  }
  .header__logo {
    min-width: 55px;
    width: 55px;
    height: 55px;
    margin-top: 0;
  }

  .header__title,
  .header .visually-btn {
    display: none;
  }

  .header__burger-mobile,
  .header__title-mobile {
    display: block;
  }
  .header__control {
    margin: 0;

  }
  .header__control-personal {
    justify-content: flex-start;
    background-color: transparent;
    flex-direction: row;
  }

  .header__control-personal a span,
  .header__search input {
    display: none;
  }
  .header__control-personal a {
    order: 1;
    margin-right: 15px;
  }
  .header__control-personal a svg,
  .header__search-btn {
    margin-right: 0;
  }
  .header__search {
    margin-bottom: 0;
    order: 2;
    margin-right: 15px;
  }
  .header__burger-mobile,
  .header__close-mobile, {
    order: 3;
  }

  .header__search svg path,
  .header__control-personal a svg path {
    fill: #1D1814;
  }
  .header__slider-caption .caption-swiper__description {
    font-size: 15px;
  }
  .header__menu {
    width: 100%;
    height: 100vh;
    padding: 40px 0 0;
    position: absolute;
    top: 95px;
    transform: translateY(-200%);
    left: 0;
    background-color: #0348B0;
    transition: all .3s;
    order: 2;
  }
  .header__menu-list {
    padding-left: 80px;
    flex-direction: column;
    align-items: flex-start;
  }

  .header__menu-item {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  .header__menu-item:nth-child(n) {
    padding-right: 22px;
  }

  .header__menu-item:hover {

    .header__menu-link {
      color: #FFFFFF;
    }

    svg {
      transform: rotate(270deg);

      path {
        fill: #FFFFFF;
      }
    }
  }
  .header__menu-item:not(:last-child) {
    margin-right: 0;
  }

  .header__menu-item svg {
    display: none;
  }
  .header__menu-item svg path {
    fill: #FFFFFF;
  }
  .header__menu-link {
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .header__dropdown-menu {
    display: none;
  }

}

@media (max-width: 576px) {
  .header__menu-list {
    padding-left: 10px;
  }
  .header__slider-caption .caption-swiper__btn {
    width: 135px;
    right: 5px;
  }
  .header__slider-bg .bg-swiper {
    height: 150px;
  }
}
