@media(max-width: 992px) {
  .mediacenter .mediacenter__inner {
    flex-direction: column;
  }


  .mediacenter .main-sidebar {
    margin-bottom: 50px;
    width: 100%;
    margin-left: 0;
    order: -1;
  }

}
