@media (max-width: 1500px) {
  .home-page .accounting__contacts {
    padding-left: 0;
    justify-content: space-between;
  }

  .home-page .accounting__contacts-title {
    margin-right: 30px;
  }

  .home-page .accounting__contacts-email {
    margin-right: 30px;
  }
}

@media (max-width: 1280px) {
  .home-page .accounting__inner {
    padding: 57px 40px 45px 30px;
  }

  .home-page .accounting__content-img {
    position: relative;
    padding-top: 31.5%;
    width: 44%;
    margin-right: 60px;
  }

  .home-page .accounting__contacts-title {
    margin-right: 25px;
  }

  .home-page .accounting__contacts-email {
    margin-right: 25px;
  }


  .home-page .feedback__inner {
    padding: 40px 80px 40px 80px;
  }


}

@media (max-width: 1024px) {

  .home-page__subtitle {
    font-size: 35px;
    line-height: 29px;
    margin-right: 30px;
  }


  .home-page .caption-slider .caption-swiper__controls {
    width: 98%;
    top: 42%;
  }

  .home-page .caption-slider .caption-swiper__img {
    padding-top: 26%;
  }

  .home-page .accounting__inner {
    padding: 40px 30px 45px 30px;
  }

  .home-page .accounting__content-img {
    padding-top: 34.5%;
    width: 48%;
    margin-right: 30px;
  }

  .home-page .accounting__title {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 15px;
    min-width: 320px;
  }

  .home-page .accounting__subtitle {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .home-page .accounting__contacts-title {
    font-size: 22px;
    line-height: 28px;
    max-width: 170px;
  }

  .home-page .accounting__contacts br {
    display: block;
  }


  .home-page .ads .container {
    flex-direction: column;
  }

  .home-page .ads__categories {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .home-page .ads__aside {
    width: 100%;
    padding: 32px 22px 29px;
    background: #F3F4F5;
    border-radius: 12px;
  }

  .home-page .feedback__inner {
    padding: 40px 60px 40px 60px;
  }

  .home-page .feedback__title {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .home-page .feedback__agreement-img {
    display: none;
  }

  .home-page .feedback__field {
    font-size: 16px;
    line-height: 20px;
    padding: 18px 15px;
  }
}

@media (max-width: 768px) {

  .home-page__subtitle-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-page__subtitle {
    margin-right: 0;
    line-height: 45px;
    margin-bottom: 25px;
  }


  .home-page .caption-slider .caption-swiper__controls .caption-swiper__swiper-button-prev svg, .home-page .caption-slider .caption-swiper__controls .caption-swiper__swiper-button-next svg {
    height: 30px;
    width: 30px;
  }

  .home-page .cta-line h2 {
    font-size: 24px;
    line-height: 34px;
  }

  .home-page .btn {
    border-radius: 30px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 17px 70px;
  }

  .home-page .accounting {
    margin-bottom: 60px;
  }

  .home-page .accounting__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px;
    min-width: 270px;
    max-width: 270px;
  }


  .home-page .accounting__content-img {
    display: none;
  }

  .home-page .accounting__content-text {
    width: 100%;
  }

  .home-page .accounting__contacts {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-page .accounting__contacts-title {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .home-page .accounting__contacts-email {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .home-page .accounting__contacts br {
    display: none;
  }

  .home-page .news {
    margin-bottom: 100px;
  }


  .home-page .faculty .faculty-swiper__title {
    font-size: 24px;
    line-height: 30px;
  }

  .home-page .ads__categories-list p {
    font-size: 18px;
  }

  .home-page .ads__categories-list li:not(:last-child) {
    margin-right: 20px;
  }

  .home-page .feedback__inner {
    padding: 30px 30px 40px 30px;
  }

  .home-page .feedback__form-fields {
    flex-direction: column;
  }

  .home-page .feedback__form-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .home-page .feedback__form-right {
    width: 100%;
    height: 150px;
  }

  .home-page .feedback__checkbox-wrapper {
    margin-right: 0;
  }

  .home-page .feedback__checkbox + label::before {
    margin-bottom: 0;
    margin-top: 5px;
  }

  .home-page .feedback__checkbox + label{
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .home-page .ads__categories-list:first-child {
    margin-bottom: 40px;
  }

  .home-page .ads__categories-list {
    flex-direction: column;
    align-items: center;
  }


  .home-page .ads__categories-list li:not(:last-child) {
    margin-right: 0;
  }

  .home-page .ads__categories-list li {
    width: 70%;
    margin-bottom: 40px;
  }

}

@media (max-width: 500px) {
  .home-page .caption-slider .caption-swiper__controls {
    top: 36%;
  }

}
