<!--<nav class="profile-menu">-->
<!--  <ul class="profile-menu__list">-->
<!--    <li class="profile-menu__list-item">-->
<!--      <a class="profile-menu__main-link" href="#">Объявления</a>-->
<!--    </li>-->
<!--    <li class="profile-menu__list-item @active-profile">-->
<!--      <a class="profile-menu__main-link" href="profile.html">Профиль</a>-->
<!--    </li>-->
<!--    <li class="profile-menu__list-item @active-edit-profile">-->
<!--      <a class="profile-menu__main-link" href="edit-profile.html">Редактирование профиля</a>-->
<!--    </li>-->
<!--    <li class="profile-menu__list-item @active-tasks">-->
<!--      <a class="profile-menu__main-link" href="tasks.html">Учебная деятельность</a>-->
<!--      <ul class="profile-menu__submenu profile-menu__tasks-submenu @submenu-tasks">-->
<!--        <li class="@submenu-tasks-task">-->
<!--          <a href="tasks.html">-->
<!--            Задания-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="@submenu-tasks-revision">-->
<!--          <a href="#">-->
<!--            Задания на доработку-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li class="profile-menu__list-item @active-portfolio">-->
<!--      <a class="profile-menu__main-link" href="portfolio.html">Портфолио</a>-->
<!--    </li>-->
<!--    <li class="profile-menu__list-item @active-achievements">-->
<!--      <a class="profile-menu__main-link" href="achievements.html">Достижения</a>-->
<!--      <ul class="profile-menu__submenu @submenu-achievements">-->
<!--        <li>-->
<!--          <a href="#">-->
<!--            Добавить достижение-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li class="profile-menu__list-item @active-professors">-->
<!--      <a class="profile-menu__main-link" href="professors.html">Преподаватели</a>-->
<!--    </li>-->
<!--    <li class="profile-menu__list-item">-->
<!--      <a class="profile-menu__main-link" href="#">Научная деятельность</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
