<nav class="profile-menu">
  <ul class="profile-menu__list">
    <li class="profile-menu__list-item">
      <a href="#">Объявления</a>
    </li>
    <li class="profile-menu__list-item @active-profile">
      <a href="profile.html">Профиль</a>
    </li>
    <li class="profile-menu__list-item @active-edit-profile">
      <a href="edit-profile.html">Редактирование профиля</a>
    </li>
    <li class="profile-menu__list-item @active-tasks">
      <a href="tasks.html">Учебная деятельность</a>
    </li>
    <li class="profile-menu__list-item">
      <a href="#">Портфолио</a>
    </li>
    <li class="profile-menu__list-item">
      <a href="#">Достижения</a>
    </li>
    <li class="profile-menu__list-item @active-professors">
      <a href="professors.html">Преподаватели</a>
    </li>
    <li class="profile-menu__list-item">
      <a href="#">Научная деятельность</a>
    </li>
  </ul>
</nav>
