html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 340px;
  overflow-x: hidden;
  @include montserrat-regular;
  color: $dark;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  //&._lock {
  //  overflow-y: hidden;
  //}
}

main {
  min-height: calc(100vh - 345px);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

.site-container {
  position: relative;
  overflow: hidden;

}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: -1;

  &_active {
    z-index: 998;
    visibility: visible;
  }
}


.error-message {
  @include montserrat-regular;
  font-size: 14px;
  line-height: 17px;
  color: #EF3124;
  padding-top: 5px;
  transition: all .2s;
  margin-bottom: 20px;
  .just-validate-error-label {
    color: #EF3124 !important;
  }
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.swiper-button-disabled {
  cursor: auto !important;
  pointer-events: none !important;
  opacity: 0.55 !important;
}

.just-validate-error-field {
  border: 1px solid #EF3124 !important;
  border-bottom: 2px solid #EF3124 !important;
}

.swiper-btn {

  &__arrow {
    transition: all .3s;
    fill: #687582;
  }
  &:hover .swiper-btn__arrow{
    fill: #000000;
  }
}
